{% extends 'base.html.twig' %}

{% block title %}Add book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    {{ include('book/form.html.twig') }}

    <a href="{{ path('book_index') }}">back to list</a>
{% endblock %}